<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ajouts-rendez-vous.component.css">
    <title>ajouts-rendez-vous works!</title>
</head>
<body>
    <form action="" method="post">
        <h1>AJOUT RENDEZ VOUS</h1>
        <br>
        <input type="text" name="nom">
        <br>
        <input type="text" name="raison">
        <br>
        <input type="date" name="debut">
        <br>
        <input type="date" name="fin">
        <br>
        <button>VALIDER</button>
    </form>
    
</body>
</html>